*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
header{
    background-color: rgba(27, 28, 28, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    height: 70px;
}
.lista_arriba{
   display: flex;
   gap: 30%;
}
.lista_arriba a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.bienvenido{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.logo{
    align-items: center;
    border-radius: 60%;
    width: 35%;
}
.barra_arriba{
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;   
}
.busqueda{
    display: flex;
    gap: 1%;
    align-items: center;
    margin-right: -80%;
}
.busqueda input{
    padding: 5px 10px;
      border-radius: 5px;
      border: none;
}
.busqueda button{
    padding: 5px 10px;
      border: none;
      border-radius: 20px;
      background-color: white;
}
.categorias{
    display: flex;
    flex-direction: row;
    padding: 5px 60px;
    gap: 30px;
}
.categorias a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.h2_register {
    color: white;
    margin-left: 650px;
    margin-top: 100px;
}
.input_registermail {
    background-color:black;
    width: 75%;
    margin-left: 5px;
}
.botonregister{
  margin-left: 5px;
}
.aceptoregister{
    color: rgb(111, 26, 26);
    margin-left: 5px;
}
.mail{
    margin-left: 5px;
}
.registrarme {
    background-color: rgb(87, 165, 213);
    width: 20%;
    border: none;
}
.main_product {
    flex-direction: row;
    display: flex;
    padding: 15px;
    height: 650px;
    align-items: center;
}
.ver_mas{
    background-color: black;
    border-radius: 20px;
    border: white solid 2px;
    color: white;
    font-weight: bold;
    height: 34px;
    width: 130px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.ver_mas_category{
    background-color: rgba(27, 28, 28, 1);
    border-radius: 20px;
    border: white solid 2px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    width: 100px;
}
.ver_mas p a{
    text-decoration: none;
    color: white;
}
.contenedor{
    background-color: rgba(27, 28, 28, 1);
    max-width: 800px;
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2%;
}
.h1_vendidos{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: -145%;
}
.titulo{
    margin-left: 29%;
    margin-top: 2%;
}
img{
    border-radius: 5%;   
}
.precio{
    color: whitesmoke;
    margin-bottom: 2%;
}
.texto{
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    color: white;
    font-family: sans-serif;
}
.derecha{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    flex-direction: column;
    padding: 2% 2%;
}
.titulo_derecha{
    background-color: rgba(27, 28, 28, 1);
    margin-bottom: 5%;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    width: 100%;
    height: 4%;
    font-family: sans-serif;
}
.lista_tut{
    background-color: white;
    border: 2px solid rgba(27, 28, 28, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lista_tut p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lista_tut img{
    margin: 2%;
    width: 50%;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(27, 28, 28, 1);
    height: 47px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    margin-top: 3%;
}
.portada_category{
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-top: 20px;
}
.h1_category{
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
}
.productos_category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 50px;
}
.productos_category article{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.celulares_category{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 17%;
}
.productos_category p{
    color: white;
    padding: 10px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.precio_category{
    color: rgb(255, 68, 0);
}
.productos_category button{
    color: white;
    background-color: rgb(86, 86, 86);
    height: 25px;
    width: 70px;
}
.productos_result{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
}
.productos_result h1{
    color: white;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
}
.productos_result article{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.ipad_result{
    display: flex;
    align-items: flex-start;
    width: 370px;
    height: 370px;
    border-radius: 17%;
}
.texto_ipad{
    color: white;
    padding: 10px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.precio_result{
    color: rgb(255, 68, 0);
    padding: 10px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.derecha_result{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    flex-direction: column;
    margin-top: 80px;
}
.contenedor_registro{
    width: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}
.h2_registro{
   justify-content: center;
    font-size: 25px;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.formulario{
    background-color: rgba(225, 224, 225, 1);
    padding: 20px 30px;
    border-radius: 10px;
    width: 540px;
}
.nombre1{
   font-size: 20px; 
}
.nombre2{
    margin: 5px;
    margin-left: 0px;
    height: 30px;
    margin-bottom: 10px;
    width: 330px;
}
.emails p{
    color: red;
}
.contrase単a p{
    color: red;
}
.reContrase単a p{
    color: red;
}
.titulos{
    font-weight: bold;
    font-size: 20px;
}
.opciones_pais{
    width: 170px
}
.generos{
    margin-top: 15px;
    margin-bottom: 15px;
}
.nombre{
    margin-left: 7px;
}
.emails{
    margin-left: 7px;
}
.contrase単a{
    margin-left: 7px;
}
.reContrase単a{
    margin-left: 7px;
}
.nacimiento{
    margin-left: 7px;
}
.generos1{
    margin-left: 7px;
}
.op{
    margin-right: 15px;
}
.check{
    margin-left: 7px;
}
.box{
    margin-top: 15px;
    margin-right: 15px;
}
.coments{
    margin-left: 7px;
    margin-top: 15px;
}
.condiciones{
    margin-left: 7px;
    margin-top: 10px;
}
.boton{
    margin-top: 20px;
    margin-left: 100px;
}
.botonazul{
   margin-right: 20px;
}
.ya_tengo{
    margin-top: 20px;
    margin-left: 100px;
}
.recordar{
    margin-top: 20px;
    margin-left: 350px;
}
.ingresar{
    width: 100px;
    height: 30px;
}
.main_register {
    justify-content: center;
    align-items: center;
    display: flex;
}
.titulo_product{
    text-align: center;
    padding: 60px 0 40px;
}
.titulo_product h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 6px;
    color: white;
}
.titulo_product h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 2%;
    color: white;
}
.main_product{
    display: flex;
    justify-content: center;
}
.img_product{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.precio{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
    font-family: sans-serif;
}
.disponibilidad{
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 24%;
    text-align: center;
    background-color: rgba(27, 28, 28, 1);
}
.descripcion{
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
}
.lista_caracteristicas{
    list-style: none;
    margin-top: 5%;
    color: white;
}
.lista_caracteristicas li{
    position: relative;
    padding-left: 20px;
}
.abajo_product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}
.detalle_product{
    padding: 20px;
}
.boton_product{
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 12px 22px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(27, 28, 28, 1);
}
.h2_login{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin: 5% 0;
}
.contenedor_h2_login{
    text-align: center;
}
.img_home{
    width: 14%;
    
}
#img_product{
    width: 90%;
}
.div_home{
    display: flex;
    flex-direction: column;
}
.p_home{
    color: white;
    font-size: 15px;
    margin-left:20% ;
    margin-top: -10%;
}
.detalle_home{
margin-top: 5%;
}
.boton_detalle{
    background-color: black;
    border-radius: 20px;
    border: white solid 2px;
    color: white;
    font-weight: bold;
    height: 34px;
    width: 130px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
@media (max-width: 1024px) {
header{
    flex-direction: column;
    height: auto;
    padding: 10px;
}
.lista_arriba {
    gap: 20px;
    margin-top: 10px;
}
.busqueda {
    margin: 10px 0 0 0;
    width: 80%;
    justify-content: center;
}
.categorias {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}
.contenedor {
    margin: 20px auto;
}
.productos_category {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.productos_result article {
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: center;
}
.ipad_result {
    width: 250px;
    height: auto;
}
.texto_ipad, .precio_result {
    font-size: 32px;
}
}
@media (max-width: 768px) {
header {
    flex-direction: column;
    text-align: center;
}
.barra_arriba {
    flex-direction: column;
    gap: 10px;
}
.lista_arriba {
    flex-direction: column;
    gap: 10px;
}
.logo {
    width: 120px;
    }
.busqueda {
    width: 100%;
    margin: 10px 0;
}
.busqueda input {
    width: 70%;
    }
.categorias {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
main {
    flex-direction: column;
    align-items: center;
}
.contenedor {
    flex-direction: column;
    margin: 10px;
    max-width: 100%;
    }
.derecha {
    width: 100%;
    margin-top: 20px;
}
.h1_vendidos {
    margin: auto;
    text-align: center;
}
.productos_category {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.productos_category article {
    width: 90%;
}
.contenedor_registro, 
.formulario {
    width: 100%;
    margin: 10px;
}
.formulario {
    padding: 15px;
}
.nombre2, .opciones_pais, textarea {
    width: 100%;
}
.boton {
    margin-left: 0;
    text-align: center;
}
.recordar {
    margin: 10px 0;
    text-align: center;
}
.productos_result h1 {
    margin-left: 0;
    text-align: center;
}
.productos_result article {
    flex-direction: column;
    align-items: center;
}
.ipad_result {
    width: 200px;
    height: auto;
}
.texto_ipad, .precio_result {
    font-size: 24px;
    text-align: center;
}
.abajo_product {
    flex-direction: column;
    align-items: center;
}
footer {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: auto;
}
}
@media (max-width: 480px) {
.texto_ipad, .precio_result {
    font-size: 18px;
}
.logo {
    width: 90px;
}
.busqueda input {
    width: 60%;
}
.busqueda button {
    padding: 5px;
}
.titulo_product h1 {
    font-size: 28px;
}
.titulo_product h2 {
    font-size: 18px;
}
}